.blogs-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.single-blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.blog-card {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
